.par{
    color: beige
}
.container{
    border-color: blue
}
.container2{
    text-align: center;
    
}

#rec {
    margin: auto;
    width:50%;
    margin-top: 50px;
}
#search {
    margin: auto;
    width: 50%;
    margin-top: 30px;
}

h2 {
    color: white;
}

#head {
    width: 30%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    #rec {
        margin: auto;
        width: 90%;
    }
    #head {
        width: 100%;
    }
}
#button_selected {
    background-color: #85144b;
    border-color: #85144b;
}