
@media only screen and (min-width: 600px) {
    #carta {
        background-image: url("../img/back-card.jpg");
        background-size: cover;
        color: white;
        margin-top: 20px;
        margin-left: 20px;
      
        height: 35%;
    }
    #recetas {
        width: 95%;
        margin: auto;
    }
    
}
h1 {
    margin: auto;
}
#foto {
    width: 100%;
    height: auto;
}

#texto {
    color: white;
}

#bot {
    color: white;
}

@media only screen and (max-width: 600px) {
    #carta {
        
        width:95%;
        margin: auto;
        margin-top: 10px;
        background-image: url("../img/back-card.jpg");
        background-size: cover;
        color: white;
        margin-bottom: 30px;
    }
}